<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-12 align-self-center text-center">
      <h1 class="text-info text-h1 align-self-center">Welcome to Geekbrains course project!</h1>
      <p class="text-monospace">Project-theme: online-shop.</p>
      <p class="text-monospace">Author: Igor Kulgachov</p>
    </div>
  </div>
  <div class="row m3">
    <div class="col-12 mb-3">
      <h3 class="text-h3 text-dark">Used technologies:</h3>
      <ul class="list-group mb-4">
        <li><p class="text-monospace">Backend: Java 11 + Spring Framework(WEB, JPA, SECURITY)</p></li>
        <li><p class="text-monospace">Database: Postgres</p></li>
        <li><p class="text-monospace">Frontend: Angular CLI 12, HTML + CSS</p></li>
      </ul>
      <p class="text-monospace">Used SSL with selfsigned certificate for localhost</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <h3 class="text-h3 mb-2">Credentials for testing:</h3>
      <h6 class="text-h6 text-warning">ADMIN</h6>
      <p class="text-monospace">Login: admin</p>
      <p class="text-monospace">Password: admin</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <h6 class="text-h6 text-warning">MANAGER</h6>
      <p class="text-monospace">Login: manager</p>
      <p class="text-monospace">Password: manager</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <h6 class="text-h6 text-warning">USER</h6>
      <p class="text-monospace">Login: user1</p>
      <p class="text-monospace">Password: user1</p>
    </div>
  </div>
</div>
