<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-brand">
        <img alt="geekbrains" height="30" routerLink="/" src="../../../../../assets/img/logo.png" width="30">
        Geekbrains
      </div>
      <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="main-menu navbar-nav mt-2 mt-lg-0">
          <li class="nav-item"><a routerLink="/">Home</a></li>
          <li *ngIf="isUser" class="nav-item"><a routerLink="/product">Products</a></li>
          <li *ngIf="isUser" class="nav-item"><a routerLink="/category">Categories</a></li>
          <li *ngIf="isAdmin" class="nav-item"><a routerLink="/admin">Admin panel</a></li>
          <li *ngIf="isAdmin || isManager" class="nav-item"><a routerLink="/manager">Manager panel</a></li>
        </ul>
        <div class="header-right">
          <a *ngIf="!isLoggedOn" class="login" routerLink="/login">Login</a>
          <a *ngIf="isLoggedOn" class="login" routerLink="/user-profile">{{user.email}}</a>
          <a *ngIf="isUser || !isLoggedOn" class="card-bag ml-2" routerLink="/cart">
            <img alt="" src="../../../../../assets/img/icons/bag.png">
            <span>{{count}}</span>
          </a>
          <a (click)="logout()" *ngIf="isLoggedOn" class="login">LOGOUT</a>
        </div>
      </div>
    </div>
  </nav>
</header>
