<div class="container">
  <div class="row">
    <div class="col-6 col-xs-12 mx-auto">
      <h3 class="text-h3">Password reset</h3>
      <form (ngSubmit)="submitForm()" [formGroup]="form">
        <div class="form-group mb-3">
          <input [ngClass]="{ 'field-error': firstSubmitted && emailField.errors }" [readOnly]="isLoading"
                 autofocus="" class="form-control shadow-sm px-4" formControlName="email"
                 id="inputEmail" placeholder="Email" required=""
                 type="email">
          <div *ngIf="firstSubmitted && emailField.errors">
            <p *ngIf="emailField.errors.required" class="error">Wrong email</p>
          </div>
        </div>
        <button [ngClass]="{ 'disabled-button': isLoading }"
                class="btn site-btn btn-block text-uppercase mb-2 shadow-sm"
                type="submit">
          Reset password
        </button>
        <div class="col-md-6 col-sm-12">

          <img *ngIf="isLoading" class="loading" src="/assets/img/load.gif">


          <div *ngIf="error && !isLoading">
            <p class="error">{{error}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


