<!--https://freefrontend.com/bootstrap-login-forms/-->
<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>


    <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">

        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4">Reset password</h3>
              <form (ngSubmit)="submitForm()" [formGroup]="form">
                <div class="form-group mb-3">
                  <input [ngClass]="{ 'field-error': firstSubmitted && passwordField.errors}"
                         [readOnly]="isLoading"
                         class="form-control rounded-pill shadow-sm px-4 text-primary"
                         formControlName="password"
                         id="inputPassword"
                         placeholder="Password"
                         required=""
                         type="password">
                  <div *ngIf="firstSubmitted && passwordField.errors">
                    <p *ngIf="passwordField.errors.required" class="error">Password cannot be empty</p>
                    <p *ngIf="passwordField.errors.minLength" class="error">Minimum 5 symbols</p>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input [ngClass]="{ 'field-error': firstSubmitted && passwordRepeatField.errors}"
                         [readOnly]="isLoading" class="form-control rounded-pill shadow-sm px-4 text-primary"
                         formControlName="passwordRepeat"
                         id="passwordRepeat"
                         placeholder="Repeat password"
                         required=""
                         type="password">
                  <div *ngIf="firstSubmitted && passwordRepeatField.errors">
                    <p *ngIf="passwordRepeatField.errors.required" class="error">Password cannot be empty</p>
                    <p *ngIf="passwordRepeatField.errors.minLength" class="error">Minimum 5 symbols</p>
                  </div>
                </div>
                <button [ngClass]="{ 'disabled-button': isLoading }"
                        class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                        type="submit">
                  Reset
                </button>
                <div class="col-md-6 col-sm-12">

                  <img *ngIf="isLoading" class="loading" src="/assets/img/load.gif">


                  <div *ngIf="error && !isLoading">
                    <p class="error">{{error}}</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div><!-- End -->

      </div>
    </div><!-- End -->

  </div>
</div>


