<div class="row d-flex justify-content-around">
  <div class="col-lg-4 col-md-6 best">
    <div class="product-item m-1">
      <figure>
        <img alt="" src="assets/img/products/1.jpg">
      </figure>
      <div class="product-info">
        <h6>Long red Shirt</h6>
        <p>$39.90</p>
        <a class="site-btn btn-line" href="#">ADD TO CART</a>
      </div>
    </div>
  </div>
  <div class="mix col-lg-4 col-md-6 new">
    <div class="product-item  m-1">
      <figure>
        <img alt="" src="assets/img/products/1.jpg">
      </figure>
      <div class="product-info">
        <h6>Hype grey shirt</h6>
        <p>$19.50</p>
        <a class="site-btn btn-line" href="#">ADD TO CART</a>
      </div>
    </div>
  </div>
  <div class="mix col-lg-4 col-md-6 best">
    <div class="product-item  m-1">
      <figure>
        <img alt="" src="assets/img/products/1.jpg">
      </figure>
      <div class="product-info">
        <h6>long sleeve jacket</h6>
        <p>$59.90</p>
        <a class="site-btn btn-line" href="#">ADD TO CART</a>
      </div>
    </div>
  </div>
</div>
